.basics{
    width: 100%;
    display: flex;
    margin-top: 120px;
    display: flex;
    gap: 40px;
   
    &__title{
        font-size: 40px;
        color: #fff;
        font-weight: 600;
    }
    &__list{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 20px;
       list-style: none;
       margin-top: 40px;
       width: 100%;
    }
    &__item{
        width: 100%;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        border: 2px solid #fff;
        min-height: 280px;

        h3{
            color: #fff;
            font-size: 24px;
            font-weight: 600;
        }
        p{
            color: #fff;
            font-size: 16px;
            font-weight: 400;
        }
        i{
            color: #fff;
            font-size: 32px;
        };
    }
    &__img{
        width: 100%;
        max-width: 640px;
        height:700px;
        border-radius: 10px;
        img{
            width: 640px;
            height: 700px;
            border-radius: 10px;
        }
    }
  
      

}

@media (max-width: 900px){
    .basics{
        flex-direction: column;
        gap: 40px;
        &__img{
            height: 300px;
            img{
                width: 100%;
                border-radius: 10px;
                display: none;
                
            }
            h4{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
        }
        &__content{
            text-align: center;
        }
    }
    
}

@media (max-width: 400px){
    .basics{
        &__img{
            height: 200px;
        }
        &__title{
            font-size: 30px;
        }
        &__list{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
}
